.loading {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--tg-theme-secondary-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.loading.transparent {
	background-color: transparent;
}

.loading .loader {
	width: 48px;
	height: 48px;
	border: 5px solid #ffffff;
	border-bottom-color: #dd2726;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
